/* Window Header */

.app.window-app {
    .window-content {
		overflow: hidden;
		display: flex;
		flex-direction: column;
        padding-top: 0;
	}

	&.sheet.item,
    &.sheet.actor {

		.window-header {
			top: var(--space-8);
			left: var(--space-6);
			right: var(--space-16);
			padding: 0 var(--space-6);
			background: transparent;
			border: 0;
			box-shadow: none;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			z-index: 3;
			font-size: var(--font-size-0);

			.fa-solid::before {
				font-size: var(--font-size-12);
				color: var(--color-grey-dk);
			}
		}

		.window-content {
			background: transparent;
			overflow: auto;
			position: relative;
			box-sizing: border-box;
		}
	}

	&.sheet.item {
		.window-title {
			font-family: var(--font-p22) !important;
		}
	}

}

/* Navigation */
nav.sheet-tabs {
	font-family: var(--font-p22);
	font-size: var(--font-size-16);
	font-weight: bold;
	border: 0;

	[data-tab] {
		padding: 3px 3px 5px;
	}

	&.actor {
		background-color: var(--color-gold-dk-mid);

		[data-tab] {
			color: var(--color-gold-lt);
		}
	}
}

.tabs.sheet-tabs {
	margin: 0;
}

body.game .app .tabs > [data-tab].active,
nav.tabs [data-tab].active,
nav.tabs [data-tab]:hover {
	text-shadow: 0 0 10px var(--color-magenta-md);
}
