/* Tooltip formatting */
#tooltip.fs2e-multiline {
  white-space: normal;
  max-width: 28rem;
  line-height: 1.25;

  .fs2e-tooltip-desc {
    color: var(--color-grey-lt);
  }

  .fs2e-tooltip-comp {
    margin-top: var(--space-10);
    color: var(--color-grey-lt);
  }

  .fs2e-tooltip-comp-label {
    font-weight: bold;
    font-style: italic;
    color: var(--color-grey-lt);
  }
}
