<div class="tab" data-group="primary" data-tab="description">
	{{#if view.descriptionEditable}}
	{{editor system.description.value target="system.description.value" button=true owner=owner editable=true engine="prosemirror"}}
	{{else}}
	<div class="editor">
		<div class="editor-content">{{{view.enrichedDescription}}}</div>
	</div>
	{{/if}}
</div>
