.fs2e.sheet.actor {
    .tab.actions {
        .fs2e-action-type-label {
            display: inline-block;
            margin-left: var(--space-6);
            color: var(--color-gold-mid);
            font-size: var(--font-size-11);
        }
    }
}
