.app.window-app.sheet.actor {
    background-image: url("assets/space.png");
	background-position: center -30px;
	background-attachment: scroll;
	background-size: auto 110%;
	box-shadow: none;

    .window-header {
        .fa-solid::before {
            font-size: var(--font-size-12);
            color: var(--color-grey-lt);
        }
    }
}